---
import { getEntry } from 'astro:content';
const { data: content } = await getEntry('sections', 'site-content');
const d = content.domaine;
---

<section class="section domaine" id="domaine">
  <div class="container">
    <div class="split split--reverse">
      <div class="split__media">
        <div class="img-placeholder img-placeholder--tall" data-label="Vue du domaine"></div>
      </div>
      <div class="split__text">
        <span class="section__label">{d.label}</span>
        <h2 class="section__title" set:html={d.title.replace(' hors', '<br />hors')} />
        {d.paragraphs.map(p => <p>{p}</p>)}
      </div>
    </div>
  </div>
</section>
